* {
    padding: 0;
    margin: 0;
}
.el-aside > .el-menu {
    height: 100%;
}

.w-container .w-main {
    height: 100%;
}

.el-table thead th .cell {
    font-size: 14px;
    font-weight: 700;
}

.el-table tbody td .cell {
    font-size: 14px;
}